.header{
  display:flex;
  border-bottom: 1px solid black;
  border: 1px solid black;
}

.logo{
  padding: 15px 15px 10px 15px;
  /*border: 1px solid black;*/
}
.mytimes{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  margin-top: 35px;
  /*border: 1px solid black;*/
}

.navigation{
  border: 1px dotted black;
  width: 80%;
  display: flex;
  position: absoute;
  left: 500px;
  top: 30px;
  justify-content: flex-end;
  margin-left:40px;

}
.navlist{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-top: 35px;
  /*border: 1px solid black;*/
  padding-left: 40px;
  color: black;
}
.maincontainer{
  border: 1px solid black;
  padding-top: 26px;
}

.largecontainer{
  border: 2px solid black;
  width: 630px;
  padding-bottom: 42px;
  display: flex;
  flex-direction: column;
}

.tunasteak{
  border: 1px solid black;
}

.img span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.img{
  height:300px;
  background-image:url("../images/main-story.png")
}
.burger{
  border: 2px solid black;
}

.orca{
  border: 2px solid black;
}

.orcapart2{
  border: 1px solid black;
  margin-bottom: 15px;
}

.earth span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 298px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  border: 1px solid black;
}

.earth{
  background-image: url("../images/fall-season.png")
}

.burgerpart2{
  border: 1px solid black;
  margin-bottom: 15px;
}

.research{
  border: 1px solid black;
  background-image: url("../images/cameraman.png")
}

.research span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  display: flex;
  flex-grow: 1;
  text-align: center;
}

.mediumcontainer{
  border: 1px solid black;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 310px;
  padding-bottom: 3px;
}

.column{
  display: inline-flex;
  align-items: flex-start;
}
.fbi{
  border: 2px solid black;
}
.cats{
  border: 1px solid black;
  background-image: url("../images/cat-ceo.png")
}

.cats span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  flex-grow: 1;
  height: 300px;
  text-align: center;
}

.brooklyn{
  border: 1px solid black;
  margin-bottom: 574px;
}
.smallcontainer{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 240px;
  float: right;
  margin-right: 26px;
}

.lastarticle{
  border: 1px solid black;
  margin-bottom: 1016px;
}
