.header{
  display: flex;
  border-bottom: 1px solid black;
  position: fixed;
  width: 78.9em;
  z-index: 10;
  top: 0;
  background-color: white;
}

.logo{
  padding: 15px 15px 10px 15px;
  background-color: white;
}
.mytimes{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  margin-top: 35px;
  background-color: white;
}

.navigation{
  width: 80%;
  display: flex;
  position: absoute;
  left: 500px;
  top: 30px;
  justify-content: flex-end;
  margin-left:40px;
  background-color: white;

}
.navlist{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-top: 35px;
  padding-left: 40px;
  color: black;
  background-color: white;
}
.maincontainer{
  padding-top: 26px;
  top: 86px;
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
}

.largecontainer{
  width: 630px;
  padding-bottom: 42px;
  display: flex;
  flex-direction: column;
}

.article p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.article2{
  display: flex;
  flex-wrap: wrap;
}
.tunasteak{
}

.img span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.img{
  height:300px;
  background-image:url("../images/main-story.png")
}

.orca{
  width: 300px;
}

.orcapart2 p{
  margin-bottom: 15px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}


.earth span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 298px;
  display: flex;
  flex-grow: 1;
}

.earth{
  background-image: url("../images/fall-season.png");
  width: 100%;
  text-align: center;
}

.burger{
  width: 300px;
  margin-left: 22px;
}
.burgerpart2 p{
  margin-bottom: 15px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.research{
  background-image: url("../images/cameraman.png");
}

.research span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  display: flex;
  flex-grow: 1;
  text-align: center;
}

.mediumcontainer{
  width: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 310px;
  padding-bottom: 3px;
}

.column{
  /*display: inline-flex;
  align-items: flex-start;*/
}
.fbi p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.cats{
  background-image: url("../images/cat-ceo.png")
}

.cats span{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  flex-grow: 1;
  height: 300px;
  text-align: center;
}

.brooklyn{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.smallcontainer{
  /*display: flex;
  flex-direction: column;*/
  /*width: 240px;*/
  margin-right: 26px;
}

.lastarticle ul{
  list-style-type:none;
  padding-left: 0px;"
}

.lastarticle li{
  background-color: WhiteSmoke;
  font-family:Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 10px;

}

.lastarticle h4{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.footer{
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  text-align: center;
  padding:150px;
}

.section1footer{
  display:flex;
  justify-content: center;
}
.footer strong{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.endnavlist span{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
}
